<html>
  <head>
    <title>Synch.Live</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>Experiment details</h1>
        <p>
        Thank you for agreeing to take part in this experiment. The study is estimated to be 1-hour long. You will be shown videos that you need to rate in terms of beauty from 1-10 where 1 is not beautiful and 10 is extremely beautiful. You will have the option to take a short break after every 15 minutes.  
        </p>
        <p>
        Your data will be kept pseudo-anonymous and once you have completed and submitted the experiment, you will no longer be able to withdraw your data.  
        </p>

	    <a href="/participant" class="button">Next</a>
  </body>
</html>
